---
import './src/styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content="Astro" />
		<title >Home</title>
	</head>
	<body class="bg-gradient-to-br from-fuchsia-300 to-amber-300 text-grey-900 font-sans">
		<nav class="bg-sky-800 text-white py-4 shdow-md">
			<ul class="flex justify-end gap-6 pr-10">
				<li> <a href="design" class="hover:underline">Design</a></li>
				<li><a href="" class="hover:underline">Music</a></li>
				<li><a href="" class="hover:underline">Beat Store</a></li>
				<li><a href="" class="hover:underline">About</a></li>
				<li><a href="" class="hover:underline">Contact</a></li>
			</ul>
		</nav>
		<header class="text-center py-12">
			<h1 class="text-5xl font-bold tracking-wide">Welcome to Tripp Life</h1>
			<p class="mt-4 text-xl text-sky-800">Visuals. Vibes. Vision.</p>
		</header>

		<section class="max-w-7xl mx-auto px-6 py-10 grid grid-cols-3 sm:grid-cols-2 gap-1">
			<div>
				<img src="/assets/images/LOVEISLAW.png" alt="Love is Law" class="transition-transform duration-300 group-hover:110" />
			</div>
			<div>
				<img src="/assets/images/STONES.png" alt="Design 2" class="transition-transform duration-300 group-hover:110" />
			</div>
			<div>
				<img src="/assets/images/design_shit.png" alt="Design 1" class="transition-transform duration-300 group-hover:110" />
			</div>
			<div>
				<img src="/assets/images/dreamlogic.jpg" alt="dreamlogic" class="transition-transform duration-300 group-hover:110" />
			</div>	
				<img src="/assets/images/nate_negative.jpg" alt="negative nate" class="transition-transform duration-300 group-hover:110" />
				
				<img src="/assets/images/nate.jpg" alt="nate" class="transition-transform duration-300 group-hover:110" />
				
				<img src="/assets/images/punk.jpg" alt="punk" class="transition-transform duration-300 group-hover:110" />
				
				<img src="/assets/images/tripp_life_80s.jpg" alt="tripp life 80s" class="transition-transform duration-300 group-hover:110" />
				
				<img src="/assets/images/witch.jpg" alt="witch" class="transition-transform duration-300 group-hover:110" />
				
				<img src="/assets/images/tripp_life2_cover.jpg" alt="tl2 cover" class="transition-transform duration-300 group-hover:110" />
				
				<img src="/assets/images/" alt="" class="transition-transform duration-300 group-hover:110" />
		</section>

		<footer class="text-center bg-black text-white py-6 mt-10 opacity-80">
			<p>&copy; 2025 Tripp Life. Keep it surreal</p>
		</footer>

	</body>
</html>